body {
	font-family: 'Poppins', sans-serif;
	margin: auto;
	user-select: none;
}

.container {
	width: 1000px;
	margin: auto;
}

nav {
	display: flex;
	justify-content: space-between;
}

.hero {
	height: 100vh;
}

ul {
	display: flex;
	flex-direction: row;
	font-size: 15px;
}

li{
	list-style-type: none;
	margin-right: 10px;
	margin-top: 10px;
}

nav a {
	text-decoration: none;
	color: black;
}

ul a:hover {
	text-decoration: underline;
}

.sidebar {
	width: 100px;
	float: left;
	clear: both;
	margin-right: 15px;
}

.content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.photo {
	width: 290px;
	height: 250px;
	object-fit: cover;
	transition: 0.5s;
	margin-bottom: 10px;
}

.photo:hover {
	filter: brightness(0.7);
}

footer {
	text-align: center;
}

@media only screen and (max-width: 1000px) {
	h1 {
		margin-left: 10px;
	}
	
	.container {
		width: 100%;
	}
	
	.photo {
		width: 100%;
		height: auto;
	}
	.sidebar {
		display: none;
	}
}