body {
	color: white;
	font-family: "Courier New";
	background-image: url("background_a.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	width: 40%;
	margin: auto;
}

.box {
	background-color: rgba(0,0,0,0.5);
	padding: 30px;
	margin-bottom: 10px;
	border: 2px solid white;
}

header {
	text-align: center;
}

nav {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

section {
	font-size: 20px;
}

h1 {
	font-size: 40px;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */

.container {
	width: 90%;
}

li {
	margin: 0;
}