body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 1000px;
	margin: auto;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

nav a {
	transition: 0.1s;
}

nav a:hover {
	font-weight: bold;
}

ul {
	display: flex;
	list-style-type: none;
}

li {
	margin-right: 10px;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: black;
}

footer {
	text-align: center;
}

.blog-section {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.blog-card {
	width: 450px;
	margin-bottom: 40px;
}

.photo {
	width: 450px;
	height: 350px;
	object-fit: cover;
	background-size: 100%;
	transition: 0.5s;
}

.photo:hover {
	filter: brightness(0.7);
}

.post-title {
	margin-left: 20px;
}

h3 {
	margin-top: 5px;
}

h6 {
	color: black;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 5px;
}

.subtext {
	margin: 20px;
}

footer {
	font-weight: 300;
}

.social {
	width: 30px;
	padding: 5px;
}

.social:hover {
	filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(400%) hue-rotate(137deg) brightness(93%) contrast(89%);
}

.youtube:hover{
	filter: brightness(0) saturate(100%) invert(16%) sepia(52%) saturate(4064%) hue-rotate(319deg) brightness(83%) contrast(106%);
}

.instagram:hover{
	filter: brightness(0) saturate(100%) invert(61%) sepia(17%) saturate(7487%) hue-rotate(317deg) brightness(108%) contrast(78%);
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
.container {
	width: 100%;
}

.blog-card {
	display: flex;
	flex-direction: column;
}

.photo {
	width: 100%;
}

.subtext {
	margin: 10px;
}

p {
	font-size: 15px;
}
}